html {

}
body {
	font-family: 'Lancelot', serif;
}
.greek {
	font-family: 'GFS Neohellenic', serif;
}

#gamearea {
	width: 800px;
	height: 600px;
	border: 1px solid black;
	overflow: hidden;
	position: relative;
}
#gamearea > div {
	position: absolute;
}
#map {
	position: absolute;
	width: 800px;
	height: 600px;
	background: #eef url(../img/mapofgreece.jpg);
}

path, line {
    fill: none;
    stroke: black;
    stroke-linecap: round;
}
.field {
    stroke: none;
    fill-opacity: 1.0;
}
.slope { stroke-width: 1; }
.river { stroke-width: 2; }
.coast { stroke-width: 4; }
.border {
    stroke-width: 5;
    stroke-dasharray: 4,4;
    stroke-linecap: butt;
}
text {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: black;
    stroke: white;
    stroke-width: 5;
    stroke-linejoin: round;
    paint-order: stroke;
}
text.region {
    stroke-width:10;
    font-variant: small-caps;
}
svg {
    background-color: #eef4ff;
}
#city {
	position: relative;
	border: 2px solid green;
	width: 800px;
	height: 600px;
	overflow: hidden;
}
button {
	float: right;
    clear: both;
	z-index: 10;
}

#ship {
	width: 64px;
	height: 68px;
	top: 50%;
	left: 50%;
	background: url(../img/triremeR.png);
	position: absolute;
	z-index: 1;
}
