.ship_stats {
	overflow: hidden;
}
#ui_ships {
	width: 200px;
	height: 600px;
	padding: 4px 6px;
}
#ui_ships > * {
	border: 1px solid #421;
	background: #631;
	padding: 4px 6px;
}
#ui_ships h1,
#ui_ships h2,
#ui_ships h3 {
	text-align: center;
}
dt {}
dd {}
#ship-ui {
	xpadding-left: 0 !important;
	xpadding-right: 0 !important;
}

.avatar {
	width: 72px;
	height: 72px;
	border-radius: 3px;
	border: 1px solid black;
}

ul, ol {
	list-style: none;
	padding-left: 0 !important;
}
.crew {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.crew li {
	background: #876;
	width: 50px;
	height: 50px;
}
.avatar.gold {
	border: 2px solid gold;
}

.greek_banner {
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='64' viewBox='0 0 32 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 28h20V16h-4v8H4V4h28v28h-4V8H8v12h4v-8h12v20H0v-4zm12 8h20v4H16v24H0v-4h12V36zm16 12h-4v12h8v4H20V44h12v12h-4v-8zM0 36h8v20H0v-4h4V40H0v-4z' fill='%23f98400' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
	position: absolute;
	height: 36px;
	width: 100%;
}
.greek_banner.top { top: 0;	}
.greek_banner.bottom { bottom: 0; }

/* Semantic UI overrides */
.ui.sidebar, #ui {
	position: absolute !important;
	overflow: hidden;
}
.modal {
	top: 40px !important;
}
.ui.modal > .header,
.ui.modal > .actions {
	text-align: center !important;
}
.modal img {
	max-width: 200px;
	max-height: 200px;
}
#ui {
	pointer-events: none;
}
.ui {
	pointer-events: all;
}
.avatar {
	display: flex;
	align-items: center;
	justify-content: center;
}
.ui.avatar.image {
    margin-right: 0.25em;
    display: inline-block;
    width: 2.7em !important;
    height: 2.7em !important;
}
#ui > .button.left {
	position: absolute;
	top: 40px;
	left: 5px;
}
#ui > .button.right {
	position: absolute;
	top: 40px;
	right: 5px;
}

#trophies-ui {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.gameitem {
	background: url(../img/items.png) no-repeat;
	display: block;
	height: 32px;
	width: 32px;
}
.ring-of-gyges	{ background-position: 0px 0px; }
.philosophers-stone { background-position: -32px 0px; }
.gorgoneion		{ background-position: -64px 0px; }
.wing-of-icarus { background-position: -192px 0px; }
.lotus-fruit	{ background-position: -224px 0px; }
.golden-fleece	{ background-position: -288px 0px; }

.achilles-shield{ background-position: 0px -32px; }
.petasos		{ background-position: -32px -32px; }
.damocles-sword	{ background-position: -64px -32px; }
.harpe			{ background-position: -96px -32px; }
.asclepius-rod	{ background-position: -160px -32px; }
.thyrsus		{ background-position: -192px -32px; }
.dragons-teeth	{ background-position: -256px -32px; }
.baetylus		{ background-position: -288px -32px; }

.gold-low		{ background-position: 0px -64px; }
.gold-med		{ background-position: -32px -64px; }
.gold-high		{ background-position: -64px -64px; }
.wine			{ background-position: -96px -64px; }
.bread			{ background-position: -128px -64px; }
.chicken		{ background-position: -256px -64px; }
.fish			{ background-position: -288px -64px; }

.compass		{ background-position: 0px -96px; }
.salt-box		{ background-position: -32px -96px; }
.ships-wheel	{ background-position: -64px -96px; }
.ship-armour	{ background-position: -96px -96px; }
.silk-sails		{ background-position: -128px -96px; }
.cotton-sails	{ background-position: -160px -96px; }
.fishing-net	{ background-position: -192px -96px; }
.ship-oars		{ background-position: -224px -96px; }

.upgrades {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr
}
.supplies i {
	float: left;
}
